<?xml version="1.0" encoding="UTF-8"?>
<policyconfig>
  <vendor>Tab Companion</vendor>
  <action id="io.github.agcarbajo.TabCompanion.keyboard-recover">
    <description>Reset the EF-DX815 keyboard controller</description>
    <message>Authentication is required to reset the keyboard controller</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/tab-companion-keyboard-recover</annotate>
  </action>
</policyconfig>
